@page "/Data/People"

@using BlazorDemoUI.Models;
@using DataAccessLibrary;
@using DataAccessLibrary.Data;
@using DataAccessLibrary.Models;

@inject IPeopleData _db

<h1>People Page</h1>

<h4>Insert New Person</h4>
<EditForm Model="@newPerson" OnValidSubmit="@InsertPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="firstName" @bind-Value="newPerson.FirstName" />
    <InputText id="lastName" @bind-Value="newPerson.LastName" />
    <InputText id="email" @bind-Value="newPerson.Email" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<h4>Current People</h4>
@if (people == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var person in people)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Email</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<PersonModel> people;
    private DisplayPersonModel newPerson = new DisplayPersonModel();

    protected override async Task OnInitializedAsync()
    {
        people = await _db.GetPeople();
    }

    private async Task InsertPerson()
    {
        PersonModel p = new PersonModel()
        {
            FirstName = newPerson.FirstName,
            LastName = newPerson.LastName,
            Email = newPerson.Email
        };
        await _db.InsertPerson(p);

        people.Add(p);
    }
}
